.mpe-tooltip {
  position: absolute;
  z-index: 999;
  display: block;
  font-size: 12px;
  word-wrap: break-word;
  opacity: 0;
}
.mpe-tooltip_top {
  padding: 5px 0;
  margin-top: 0;
}
.mpe-tooltip_top .mpe-tooltip-inner::before {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  content: '';
  border-width: 5px 5px 0;
  border-top-color: #3cc51f;
}
.mpe-tooltip_right {
  padding: 0 5px;
  margin-left: 0;
}
.mpe-tooltip_right .mpe-tooltip-inner::before {
  top: 50%;
  left: 0;
  margin-top: -5px;
  content: '';
  border-width: 5px 5px 5px 0;
  border-right: #3cc51f;
}
.mpe-tooltip_bottom {
  padding: 5px 0;
  margin-top: 0;
}
.mpe-tooltip_bottom .mpe-tooltip-inner::before {
  top: 0;
  left: 50%;
  margin-left: -5px;
  content: '';
  border-width: 0 5px 5px;
  border-bottom-color: #3cc51f;
}
.mpe-tooltip_left {
  padding: 0 5px;
  margin-left: 0;
}
.mpe-tooltip_left .mpe-tooltip-inner::before {
  top: 50%;
  right: 0;
  margin-top: -5px;
  content: '';
  border-width: 5px 0 5px 5px;
  border-left-color: #3cc51f;
}
.mpe-tooltip_inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  background-color: #3cc51f;
  border-radius: 3px;
}
.mpe-tooltip_inner::before {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
